$font-family_1: 'Macondo', cursive;

/* Background color */
$background-color_1: #003049;

/* Color */

* {
    padding: 0;
    margin: 0;

    body {

        h2 {
            color: #000;
            font-size: 250%;
            font-family: $font-family_1;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;

            &:after {
                display: block;
                height: 2px;
                background-color: yellow;
                width: 100px;
                content: " ";
                margin: 0 auto;
                margin-top: 10px;
            }
        }

        header {

            nav {
                background-color: #fff;

                #navTitle {
                    font-family: $font-family_1;
                }

                .offcanvas {
                    background-color: #fff;

                    .offcanvas-header {
                        h5 {
                            font-family: $font-family_1;
                        }
                    }

                    .offcanvas-body {

                        a {
                            color: #045;
                            transition: transform .1s;

                            &:hover {
                                color: #000;
                                transform: scale(1.1);
                            }
                        }

                    }
                }

            }
        }

        #presentation {
            background-color: #045;
            padding-top: 200px;
            padding-bottom: 200px;
        }

        #projets {
            img {
                height: 300px;
            }

            .btn {
                background-color: #fff;
                color: #045;

                &:hover {
                    background-color: #045;
                    color: #fff;
                }
            }
        }

        footer {
            background-color: #045;

            #contact {
                a {
                    text-decoration: none;
                    #git {
                        fill: #fff;
                        transform: transition 2s;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }

                    #in {
                        fill: #fff;
                        transform: transition 2s;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }

                    #twitter {
                        fill: #fff;
                        transform: transition 2s;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}